
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  mysql-root-password: "root"
  jwt-secret: "clave_super_secreta"

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              value: clinica
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector:
    app: mysql
  ports:
    - port: 3306

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: clinica
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clinica
  template:
    metadata:
      labels:
        app: clinica
    spec:
      containers:
        - name: clinica
          image: clinica:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8001
          env:
            - name: DATABASE_URL
              value: "mysql+pymysql://root:root@mysql:3306/clinica"
---
apiVersion: v1
kind: Service
metadata:
  name: clinica
spec:
  selector:
    app: clinica
  ports:
    - port: 8001
      targetPort: 8001

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: genomica
spec:
  replicas: 1
  selector:
    matchLabels:
      app: genomica
  template:
    metadata:
      labels:
        app: genomica
    spec:
      containers:
        - name: genomica
          image: genomica:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3001
          env:
            - name: DB_HOST
              value: "mysql"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: mysql-root-password
            - name: DB_NAME
              value: "clinica"
            - name: DB_PORT
              value: "3306"
            - name: CLINIC_SERVICE_URL
              value: "http://clinica:8001/api/v1"
---
apiVersion: v1
kind: Service
metadata:
  name: genomica
spec:
  selector:
    app: genomica
  ports:
    - port: 3001
      targetPort: 3001

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: api-gateway:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-secret
            - name: CLINIC_SERVICE_URL
              value: "http://clinica:8001/api/v1"
            - name: GENOMICS_SERVICE_URL
              value: "http://genomica:3001/api/v1/genomics"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - port: 8080
      targetPort: 8080
  type: LoadBalancer
